<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Enter your OTP</h1>
    <form action="http://localhost:8000/api/v1/activate" method="post">
        <input type="text" name="otp" placeholder="OTP"><br>
        <input type="submit" value="Submit">

</body>

</html>