<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/global.css">
</head>

<body>
    <div class="header">
        <a href="http://localhost:8000/api/v1/signup"><button>Signup</button></a>
        <a href="http://localhost:8000/api/v1/login"><button>Login</button></a>
    </div>
</body>

</html>